{% extends 'base.twig' %}
{% block content %}
  <h2>Rejected</h2>
    <p>Rejected books are ones which have been suggested but we've decided not to read. Common reasons for rejection are:</p>
    <ul>
      <li><strong>Length:</strong> Maximum of 400 pages, as we find that people don't have the time to read longer books.</li>
      <li><strong>Genre:</strong> We're a sci-fi book club rather than sci-fi and fantasy.</li>
      <li><strong>Availability:</strong> Must have an eBook and paperback at a reasonable price (generally less than £10). We don't usually read books that are out of print or only in hardback.</li>
      <li><strong>Advocate:</strong> Whoever suggests the book usually takes the lead in the discussion. If no one is willing to do this then we tend to reject the book.</li>
    </ul>
    <p>Rejection means that we don't think the book is a good fit for our club, not that it's a bad book or that we don't recommend reading it. For example, several members have read and enjoyed Children of Time, but at 600 pages it's too long for the club.</p>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Authors</th>
        <th>Pages</th>
        <th>Published</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
          <td>
            {% if book.website %}
                <a href="{{ book.website }}">{{ book.title }}</a>
            {% else %}
                {{ book.title }}
            {% endif %}
          </td>
          <td><a href="search.php?authors={{ book.authors }}">{{ book.authors }}</a></td>
          <td>{{ book.pages }}</td>
          <td>{{ book.published_year }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}